body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#logo {
  border-style: solid;
  border-width: 2px;
  margin: 10px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

#instructions_parent {
  text-align: center;
  width: 100%;
  z-index: -1;
}

#login_button {
  width: 100px;
  height: 50px;
  z-index: 50;
}

#logout_button {
  width: 100px;
  position: relative;
  z-index: 50000000;
}

#logged_in_info {
  display: none;
  z-index: -1;
}

#instructions {
  position: absolute;
  background-color: red;
  display: inline-block;
  left: 50%;
  top: auto;
  margin-left: -35%;
  z-index: 100;
  width: 70%;
  opacity: 0%;
}

#classification_term {
  display: grid;
  grid-template-columns: [first] 25% [line3] 25% [col4-start] 25% [bruh] 25% [end];
  margin-left: 50px;
}

#son_classification_term {
  justify-self: start;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.elementToFadeIn {
  animation: fadeIn 1s linear forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

.elementToFadeOut {
  animation: fadeOut 1s linear forwards;
}

.container {
  width: 100%;
  text-align: center;
}

#page_title {
  color: green;
  text-transform: uppercase;
  font-size: 30px;
}

.configuration {
  border-style: solid;
  border-width: 2px;
  overflow: auto;
  margin: auto;
  display: inline-block;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.option_description {
  display: inline-block;
}

.option_number {
  display: inline-block;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 2px;
}

.game_button {
  background-color: #44c767;
  margin-top: 10px;
  width: 80%;

  border-radius: 28px;
  border: 1px solid #18ab29;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

#start_game_button {
  background-color: #5cbf2a;
}

#start_game_button:hover {
  background-color: #2f6627;
}

#give_up_game_button {
  background-color: red;
  border: 1px solid red;
  text-shadow: 0px 1px 0px #8c2d19;
}

#give_up_game_button:hover {
  background-color: #8c2d19;
}

.game_button:active {
  position: relative;
  top: 1px;
}

.commands_button {
  margin-top: 10px;
}

form {
  border: 3px solid #f1f1f1;
  width: 50%;
  margin: auto;
  padding: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;

  border: 1px solid #ccc;
  box-sizing: border-box;
}

#board {
  border: 3px solid #f1f1f1;
  margin: 10px;
  display: none;
}

#board_state {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 10px;
}

#tabuleiro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player_1_seed_box,
.player_2_seed_box {
  border: 3px solid #5cbf2a;
  width: 10%;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#game_cavities {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  width: 70%;
  border: 3px solid #5cbf2a;
}

.cavity {
  border-radius: 50%;
  border-width: 3px;
  border-color: #18ab29;
  background-color: aqua;
  aspect-ratio: 1/1;
  max-width: 10%;
  max-height: 10%;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#classifications {
  display: none;
  text-align: center;
  border-style: dotted;
  border-width: 2px;
}

#row1,
#row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 5px;
}

#row1 {
  flex-direction: row-reverse;
}

#row2 {
  flex-direction: row;
}

.seed {
  border-radius: 50%;
  border-width: 3px;
  border-color: #18ab29;
  background-color: black;
  aspect-ratio: 1/1;
  max-width: 10%;
  max-height: 10%;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
}

button {
  background-color: grey;
}